.voters_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit);
  padding: 20px 10px;

  .tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--unit);
    padding: 10px 0px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;

    .tab {
      padding: 10px 14px;
      background-color: rgb(255, 106, 51);
       border: 1px solid rgb(255, 106, 51);
      cursor: pointer;

      &:hover{
        border: 1px solid rgb(255, 106, 51);
        background-color: transparent;
      }
    }
  }

  .filter_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .filter_item{
      padding: 10px 14px;
      background-color: var(--accent);
      color: white;
      cursor: pointer;
    }
  }

  .voters_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);
      height: 100%;

  

      .search {
        width: calc(100% - 250px - var(--unit));
        height: 40px;

        input {
          width: 100%;
          height: 100%;
          // border-radius: 8px;
          outline: none;
          border: 1px solid black;
          padding: 4px 8px;
        }
      }
    }

    .table {
      width: 100%;
    }
  }
}
