.voters_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit);
  padding: 20px 10px;

  .tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--unit);
    flex-wrap: wrap;

    .tab {
      padding: 10px 14px;
      background-color: rgb(255, 106, 51);
       border: 1px solid rgb(255, 106, 51);
      cursor: pointer;

      &:hover{
        border: 1px solid rgb(255, 106, 51);
        background-color: transparent;
      }
    }
  }

  .voters_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: var(--unit);
      height: 100%;

      .prabhak_dropdown {
        width: 250px;
        height: 100%;
        cursor: pointer;
        position: relative;

        .drop_list {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: auto;
          border: 1px solid black;
          border-top: none;
          z-index: 5;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          p {
            width: 100%;
            padding: 4px;
            text-align: center;
            cursor: pointer;
            background-color: white;

            &:hover {
              background-color: rgb(214, 214, 214);
            }
          }
        }

        .label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid var(--black);
          gap: var(--unit);
          padding: 8px 10px;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .search {
        width: calc(100% - 250px - var(--unit));
        height: 40px;

        input {
          width: 100%;
          height: 100%;
          // border-radius: 8px;
          outline: none;
          border: 1px solid black;
          padding: 4px 8px;
        }
      }
    }

    .table {
      width: 100%;
    }
  }
}
