.dashboard_parent {
  display: flex;
  justify-content: center;
  height: 100svh;
  padding: 20px 10px;
  align-items: center;
  gap: 14px;

  .tab {
    padding: 10px 14px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
       background-color: var(--accent);
       width: 40px;
       height: 40px;
       border-radius: 50%;
      color: var(--white);
    }
  }
}
