.sidebar_parent{
    width: 250px;
    height: 100svh;
    background-color: rgb(255, 106, 51);
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 14px 14px 14px;


    .list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    
}