.sidebar_parent {
  width: 250px;
  height: 100svh;
  background-color: rgb(255, 106, 51);
  position: fixed;
  left: 0;
  top: 0;
  padding: 40px 0px 14px 0px;

  .list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      width: 100%;
      text-align: center;
      padding: 10px;
      transition: all 0.3s ease-in-out;
      font-weight: 700;

      .children {
        width: 100%;
        // padding: 10px;
        display: none;
        background-color: black;
        margin-top: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;

        a {
          background-color: transparent;
          color: white;
                    &:hover {
            background-color: rgb(255, 106, 51);
            color: white;
          }
        }
      }

      &:hover {
        background-color: white;
        color: rgb(255, 106, 51);

        .children {
          display: flex;
        }
      }
    }

    .active {
      background-color: white;
      color: rgb(255, 106, 51);
    }
  }
}
